* {
    all: unset;
}

button {
    padding: 2px 4px;
}

button:hover {
    color: #8EC07C;
}

/* SysTray */
menu {
    font-family: 'JetBrains Mono NF', monospace;

    background: #1D2021;
    color: #FBF1C7;
    
    border: alpha(#FBF1C7, 0.93) 2px solid;
    border-radius: 12px;

    padding: 10px 2px;
}

menu *:not(:first-child) {
    padding: 2px 13px;
    margin: 0;
}

menu *:not(:first-child):hover {
    background: #303C3A;
    color: #FABD2F;
}

/* Use with 'tooltip-text' property */
tooltip {
    background: #1D2021;
    color: #FBF1C7;
    border: alpha(#FBF1C7, 0.93) 2px solid;
    border-radius: 12px;

    font-family: 'JetBrains Mono NF', monospace;
    font-size: 1rem;
}

.bar {
    background: #1D2021;
    color: #FBF1C7;

    font-family: 'JetBrains Mono NF', monospace;
    font-size: 1rem;
}

.distro {
    padding: 0px 8px;
}

.focused {
    color: #FE8019;
}

.right button {
    padding: 2px 8px;
}

/* CALENDAR */

/* Calendar root */
calendar {
    padding: 0px 8px;
    color: #FBF1C7;
}

/* Selected day */
calendar:selected {
    background-color: alpha(#8EC07C, 0.93);
    border-radius: 6px;
    color: #1D2021;
}

/* Calendar window */
calendar.view {
    color: #FBF1C7;
}

/* Calendar header */
calendar.header {
    border-color: #928374;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-radius: 0;

    color: #FABD2F;
}

/* Arrow buttons */
calendar.button {
    color: alpha(#B8BB26, 0);
}

/* Month nums + week days */
calendar.highlight {
    color: #458588;
    padding: 0px;
}

/* Days of previous and next month */
calendar:indeterminate {
    color: #928374;
}

.calendarbox {
    background: #1D2021;
    color: #FBF1C7;
    border: alpha(#FBF1C7, 0.93) 2px solid;
    border-radius: 0 0 0 12px;

    font-family: 'JetBrains Mono NF', monospace;
    font-size: 1.1rem;

    padding: 24px 8px 8px 8px;
}

/* STATUS */

.circular-progress {
    font-size: 4px;
    background-color: #665C54;
    padding: 10px;

    min-width: 50px;
    min-height: 50px;
}

.status-top {
    padding: 24px 0 8px 0;
}

.status-bottom {
    padding: 8px 0 24px 0;
}

.status-label {
    padding-top: 4px;
}

/* NOTIFICATIONS */

.notification {
    background: #1D2021;
    color: #FBF1C7;
    border: alpha(#FBF1C7, 0.93) 2px solid;
    border-radius: 12px;
    padding: 8px;

    margin: 4px 0;
}

.notification.critical {
    border-color: alpha(#FB4934, 0.93);
}

.notification-popups {
    font-family: 'JetBrains Mono NF', monospace;
}

.notification-popups:first-child {
    margin-top: 0;
}

.notification-popups:last-child {
    margin-bottom: 0;
}

.notif-icon {
    font-size: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    
    border-radius: 6px;
}

.notif-title {
    font-weight: bold;
    font-size: 1.2rem;

    margin-left: 8px;
}

.notif-body {
    font-size: 1rem;

    margin: 4px 0px 0px 8px;
}

.notif-actions *:not(:first-child) {
    margin-left: 4px;
}

.notif-action-button {
    border: alpha(#FBF1C7, 0.67) 2px solid;
    border-radius: 6px;
    padding: 4px;

    margin-top: 8px;
}

.notif-action-button:hover {
    background: #303C3A;
    border-color: alpha(#8EC07C, 0.67);
}

/* Color Reference */
.color-reference {
    color: #FBF1C7; /* text */
    color: #1D2021; /* background */
    color: #303C3A; /* background - light */
    color: #8EC07C; /* active */
    color: #928374; /* inactive */
    color: #FB4934; /* error */
    color: #FABD2F; /* warning */
    color: #458588; /* info */
    color: #B8BB26; /* success */
    color: #D3869B; /* question */
}