* {
    all: unset;
}

button {
    padding: 2px 4px;
}

button:hover {
    color: #FFD866;
}

/* SysTray */
menu {
    font-family: 'JetBrains Mono NF', monospace;

    background: #2D2A2E;
    color: #FCFCFA;
    
    border: alpha(#FC9867, 0.93) 2px solid;
    border-radius: 12px;

    padding: 10px 2px;
}

menu *:not(:first-child) {
    padding: 2px 13px;
    margin: 0;
}

menu *:not(:first-child):hover {
    background: #403E41;
    color: #FFD866;
}

/* Use with 'tooltip-text' property */
tooltip {
    background: #2D2A2E;
    color: #FCFCFA;
    border: alpha(#FC9867, 0.93) 2px solid;
    border-radius: 12px;

    font-family: 'JetBrains Mono NF', monospace;
    font-size: 1rem;
}

.bar {
    background: black;
    color: #FCFCFA;

    font-family: 'JetBrains Mono NF', monospace;
    font-size: 1rem;
}

.distro {
    color: #AAAAAA;
    padding: 0px 8px;
}

.focused {
    color: #FC9867;
}

.right button {
    padding: 2px 8px;
}

/* CALENDAR */

/* Calendar root */
calendar {
    padding: 0px 8px;
}

/* Selected day */
calendar:selected {
    background-color: alpha(#FC9867, 0.93);
    border-radius: 2px;
    color: #2D2A2E;
}

/* Calendar window */
calendar.view {
    color: #FCFCFA;
}

/* Calendar header */
calendar.header {
    border-color: #5B595C;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-radius: 0;

    color: #FFD866;
}

/* Arrow buttons */
calendar.button {
    color: alpha(#A9DC76, 0);
}

/* Month nums + week days */
calendar.highlight {
    color: #65D6C4;
    padding: 0px;
}

/* Days of previous and next month */
calendar:indeterminate {
    color: #5B595C;
}

.calendarbox {
    background: #2D2A2E;
    border: alpha(#FC9867, 0.93) 2px solid;
    border-radius: 0 0 0 12px;

    font-family: 'JetBrains Mono NF', monospace;
    font-size: 1.1rem;

    padding: 24px 8px 8px 8px;
}

/* STATUS */

.circular-progress {
    font-size: 4px;
    background-color: #5B595C;
    padding: 10px;

    min-width: 50px;
    min-height: 50px;
}

.status-top {
    padding: 24px 0 8px 0;
}

.status-bottom {
    padding: 8px 0 24px 0;
}

.status-label {
    padding-top: 4px;
}

/* NOTIFICATIONS */

.notification {
    background: #2D2A2E;
    color: #FCFCFA;
    border: alpha(#FC9867, 0.93) 2px solid;
    border-radius: 12px;
    padding: 8px;

    margin: 4px 0;
}

.notification.critical {
    border-color: alpha(#FF6188, 0.93);
}

.notification-popups {
    font-family: 'JetBrains Mono NF', monospace;
}

.notification-popups:first-child {
    margin-top: 0;
}

.notification-popups:last-child {
    margin-bottom: 0;
}

.notif-icon {
    font-size: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    
    border-radius: 6px;
}

.notif-title {
    font-weight: bold;
    font-size: 1.2rem;

    margin-left: 8px;
}

.notif-body {
    font-size: 1rem;

    margin: 4px 0px 0px 8px;
}

.notif-actions *:not(:first-child) {
    margin-left: 4px;
}

.notif-action-button {
    border: alpha(#5B595C, 0.67) 2px solid;
    border-radius: 6px;
    padding: 4px;

    margin-top: 8px;
}

.notif-action-button:hover {
    background: #403E41;
    border-color: alpha(#FFD866, 0.67);
}

/* Color Reference */
.color-reference {
    color: #FCFCFA; /* text */
    color: #2D2A2E; /* background */
    color: #403E41; /* light */
    color: #FC9867; /* active */
    color: #5B595C; /* inactive */
    color: #FF6188; /* error */
    color: #FFD866; /* warning */
    color: #65D6C4; /* info */
    color: #A9DC76; /* success */
    color: #AB9DF2; /* question */
}
