// // OLD COLORS
// $bg-color: rgba($color: #2C2C2C, $alpha: 1.00); // background
// $ab-color: rgba($color: #FB8C00, $alpha: 0.93); // active
// $ib-color: rgba($color: #595959, $alpha: 0.67); // inactive
// $er-color: rgba($color: #FF6666, $alpha: 1.00); // error

// NEW COLORS
$tx-color: rgba($color: #FCFCFA, $alpha: 1.00); // text
$bg-color: rgba($color: #2D2A2E, $alpha: 1.00); // background
$lb-color: rgba($color: #403E41, $alpha: 1.00); // light
$ab-color: rgba($color: #FC9867, $alpha: 0.93); // active
$ib-color: rgba($color: #5B595C, $alpha: 0.67); // inactive
$er-color: rgba($color: #FF6188, $alpha: 1.00); // error
$wa-color: rgba($color: #FFD866, $alpha: 1.00); // warning
$in-color: rgba($color: #65D6C4, $alpha: 1.00); // info

// Styles
* {
    all: unset;
}

// Containers
.container {
    background: $bg-color;
    color: $tx-color;
    
    border: $ib-color 2px solid;
    border-radius: 12px;
    
    font-family: 'JetBrains Mono NF', monospace;
}

.container:hover, .container:active {
    background: $lb-color;
    border: $ab-color 2px solid;
}

// Text
.active {
    color: $ab-color;
}

.spacer {
    padding: 0 5px;
}

.spacer:first-child {
    padding-left: 10px;
}

.spacer:last-child {
    padding-right: 10px;
}

tooltip {
    font-family: 'JetBrains Mono NF', monospace;
    background: $bg-color;
    border: $ib-color 2px solid;
    border-radius: 20px;
    color: $tx-color;
}

// MENU (systray)
menu {
    font-family: 'JetBrains Mono NF', monospace;

    background: $bg-color;
    color: $tx-color;
    
    border: $ab-color 2px solid;
    border-radius: 12px;

    padding: 10px;
}

menu *:not(:first-child) {
    padding: 2px 5px;
    margin: 0;
}

menu *:not(:first-child):hover {
    background: $lb-color;
    color: $wa-color;

    border-radius: 20px;
}