// Variables
$active-border: rgba(251, 140, 0, 0.93);
$inactive-border: rgba(89, 89, 89, 0.67);
$bg-color: #2C2C2C;


// Styles
* {
    all: unset;
    font-family: 'JetBrains Mono NF';
    color: #D6D7CD;
    // background-color: red;
}

.container {
    border: $inactive-border 2px solid;
    border-radius: 24px;
    background-color: $bg-color;
}