[Desktop Entry]
Type=Application
Version=1.4
Name=Google Keep
Comment=Google Keep service
Keywords=;
Categories=GTK;WebApps;Utility;
Icon=FFPWA-01J0ASMB7SDXVM314H661MKZ4Z
Exec=/usr/bin/firefoxpwa site launch 01J0ASMB7SDXVM314H661MKZ4Z --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01J0ASMB7SDXVM314H661MKZ4Z
