[Desktop Entry]
Type=Application
Version=1.4
Name=Google Calendar
Comment=Google Calendar service
Keywords=;
Categories=GTK;WebApps;Calendar;Office;Utility;
Icon=FFPWA-01J0AT4BHW5PMF4RQHE2QDV1NN
Exec=/usr/bin/firefoxpwa site launch 01J0AT4BHW5PMF4RQHE2QDV1NN --protocol %u
Actions=
MimeType=
Terminal=false
StartupNotify=true
StartupWMClass=FFPWA-01J0AT4BHW5PMF4RQHE2QDV1NN
