[Desktop Entry]
Type=Application
Version=1.0
Name=Lock
Comment=Locks your screen
Exec=sh -c "playerctl pause; hyprlock"
Icon=~/.local/share/icons/custom/system-lock.svg
Terminal=false
Categories=Menu
