[Desktop Entry]
Type=Application
Version=1.0
Name=Logout
Comment=Exits the system
Exec=hyprctl dispatch exit
Icon=~/.local/share/icons/custom/system-log-out.svg
Terminal=false
Categories=Menu
