[Desktop Entry]
Name=Quick Feh
Comment=Quick Feh image viewer
Exec=hyprctl dispatch exec "[floating]" "feh -g 1200x900 -B '#2D2A2E'"
Icon=feh
Type=Application
Terminal=false
Categories=Viewer;
Path=/usr/bin
