[Desktop Entry]
Type=Application
Version=1.0
Name=Shutdown
Comment=Shutdowns the computer
Exec=shutdown 0
Icon=~/.local/share/icons/custom/system-shutdown.svg
Terminal=false
Categories=Menu
